@font-face {
    font-family: 'unisans';
    src: url('../res/Uni\ Sans\ Heavy.otf');
}

@font-face {
    font-family: 'circular';
    src: url('../res/CIRCULARSTD-MEDIUM.OTF');
}

@font-face {
    font-family: 'inria';
    src: url('../res/InriaSerif-Regular.ttf');
}

.main,.sidebar{
    font-family: 'unisans';
}
.center{
    margin: 0 auto;
}
input{
    font-family: 'inria';
}
.tedora_fav{
    border: 1px white solid;
    border-radius: 100%;
}
p{
    font-family: 'circular';
    font-size: 14px;
}