@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'unisans';
  src: url('./res/Uni\ Sans\ Heavy.otf');
}

@font-face {
  font-family: 'circular';
  src: url('./res/CIRCULARSTD-MEDIUM.OTF');
}

body {
  margin: 0;
  font-family: 'unisans';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #101115;
  color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
